<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Disponibilidad</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="getTables($event)">
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item-sliding *ngFor="let table of tables">
            <ion-item>
                <ion-label>
                    <h2> Mesa {{table.Number}} </h2>
                    <p> {{table.Description}} </p>
                    <p *ngIf="table.User">
                        <ion-icon name="people-outline"></ion-icon>
                        {{ table.User.Name }} {{ table.User.LastName }}
                    </p>
                    <ion-text color="{{table.InUse ? 'warning' : 'success'}}">
                        {{ table.InUse ? 'Ocupada' : 'Disponible' }}
                    </ion-text>
                </ion-label>


                <ion-badge slot="end" color="primary">
                    {{table.Capacity}}
                    <ion-icon name="people-outline"></ion-icon>
                </ion-badge>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option (click)="updateAvailability(table)"
                    [color]="table.InUse ? 'success' : 'danger'">{{ table.InUse ? 'Liberar' : 'En Uso' }}
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>