<ion-header>
    <ion-toolbar>
        <ion-title color="primary">
            <ion-icon name="restaurant-outline"></ion-icon>
            Resumen de pedido
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="close()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item *ngIf="order.OrderDetails.length === 0">
        <ion-label style="text-align: center;">
            No haz seleccionado ningun plato o bebestible
        </ion-label>
    </ion-item>
    <ion-list *ngIf="order.OrderDetails.length > 0">
        <ion-item-sliding *ngFor="let item of order.OrderDetails">
            <ion-item>
                <ion-avatar slot="start">
                    <img [src]="item.ProductId ? 'assets/default-consumable.png' : 'assets/default-order.png'">
                </ion-avatar>
                <ion-label>
                    <h2>{{item.Count}} x {{ item.ProductId ? item.Product.Name : item.Recipe.Name }}</h2>
                    <h3>{{ item.Price | currency:'CLP' }} c/u</h3>
                </ion-label>

                <ion-badge slot="end" color="primary">
                    {{ (item.Count * item.Price) | currency:'CLP' }}
                </ion-badge>
            </ion-item>

            <ion-item-options side="end">
                <ion-item-option color="success" (click)="add(item)">
                    <ion-icon name="add-outline"></ion-icon>
                </ion-item-option>
                <ion-item-option color="light" (click)="subtract(item)">
                    <ion-icon name="remove-outline"></ion-icon>
                </ion-item-option>
                <ion-item-option color="danger" (click)="remove(item)">
                    <ion-icon name="trash-outline"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>

        <ion-item>
            <ion-textarea [(ngModel)]="order.Note" placeholder="Puedes dejar una nota al chef aqu&iacute;"></ion-textarea>
        </ion-item>

        <ion-item button (click)="makeOrder()" detail="false" color="primary">
            <ion-label style="text-align: center;">
                <ion-icon name="restaurant-outline"></ion-icon>
                Realizar pedido
            </ion-label>
        </ion-item>
    </ion-list>


</ion-content>
