/* You can add global styles to this file, and also import other style files */
.clickable {
  cursor: pointer;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  max-width: 720px;
  height: auto;
}
