<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Recepción</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" style="text-align: center;">
        <h2>Bienvenido a</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="2" size-xs="8" size-lg="2" offset-lg="5">
        <ion-img src="assets/siglo-xxi-login-logo.png">
        </ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="8" offset-xs="2" size-lg="2" offset-lg="5">
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="12" class="ion-text-center">
              <ion-button (click)="withBooking()">
                <span>Tengo una reserva</span>
              </ion-button>
              <hr>
              <ion-button fill="clear" (click)="withoutBooking()">
                <span>No tengo reserva</span>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>