<ion-content>
  <ion-tabs>
      <ion-tab-bar slot="bottom">
          <ion-tab-button tab="orders">
              <ion-icon name="restaurant-outline"></ion-icon>
              <ion-label>Pedidos</ion-label>
          </ion-tab-button>

          <ion-tab-button tab="bookings">
              <ion-icon name="calendar-outline"></ion-icon>
              <ion-label>Reservas</ion-label>
          </ion-tab-button>

          <ion-tab-button tab="availability">
              <ion-icon name="checkmark-done-outline"></ion-icon>
              <ion-label>Disponibilidad</ion-label>
          </ion-tab-button>

          <ion-tab-button tab="reception">
              <ion-icon name="apps-outline"></ion-icon>
              <ion-label>Recepci&oacute;n</ion-label>
          </ion-tab-button>

          <ion-tab-button tab="account">
              <ion-icon name="person-circle-outline"></ion-icon>
              <ion-label>Cuenta</ion-label>
          </ion-tab-button>
      </ion-tab-bar>
  </ion-tabs>
</ion-content>