<ion-header>
    <ion-toolbar color="primary">
        <ion-searchbar animated inputmode="numeric" [(ngModel)]="supplyRequestCode" [disabled]="false" placeholder="Buscar orden" (ionInput)="filterSupplyRequests($event)"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="getPendingSupplyRequests($event)">
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-list-header lines="inset">
            <ion-label>
                <h1>Órdenes de compra</h1>
                <p><i>(pendientes de confirmaci&oacute;n)</i></p>
                <br>
            </ion-label>
        </ion-list-header>
        <ion-item lines="none" *ngFor="let pendingSupplyRequest of filteredSupplyRequests" button (click)="showSupplyRequest(pendingSupplyRequest)">
            <ion-label>
                <p><b>Orden: {{pendingSupplyRequest.Code | supplyCode}}</b> ({{pendingSupplyRequest.CreationDate | date}})</p>
            </ion-label>

            <ion-badge slot="end" color="primary">
                {{pendingSupplyRequest.Provider.Name}}
            </ion-badge>
        </ion-item>
        <ion-item lines="none" *ngIf="!pendingSupplyRequests || pendingSupplyRequests.length === 0">
            <ion-label>
                <p> No hay &oacute;rdenes de compra pendientes de recepci&oacute;n</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>